/* .carousel-container {
  position: relative;
  width: 100%;
} */

/* .carousel-indicators {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
} */

.social-icons {
  position: absolute;
  top: 60%;
  left: 0px;
  transform: translateY(-50%);
  display: flex;
  z-index: 20;
  flex-direction: column;
  align-items: center;
}

.social-icons a {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .social-icons {
    display: none; /* Hide on mobile */
  }
}
