.carousel-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.carousel-images {
  display: flex;
  /* width: 100%;
  height: 100vh; */
  overflow: hidden;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
  /* position: relative; */
}

.carousel-title {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: linear-gradient(to bottom, #0095e008, #170a5ed1);
  padding: 8px 4px 40px 4px;
}

.carousel-image.active {
  display: block;
}

.carousel-indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicators span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators span.active {
  background-color: #276dff;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.image-text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
